<%= stylesheet_link_tag "dashboard" %>
<div class="container">
	<div class="row">
		<div class="tabs">
		  <a class="tab active" href="#">
		    <h3>Inbox</h3>
<!-- 		    <p>Submitted</p>
 -->		  </a>
		  <a class="tab" href="#">
		    <h3>My Bookings</h3>
<!-- 		    <p>Followers</p>
 -->		  </a>
		  <a class="tab" href="#">
		    <h3>My Flats</h3>
<!-- 		    <p>Following</p>
 -->		  </a>
		  <a class="tab" href="#">
		    <h3>My Trips</h3>
<!-- 		    <p>Upvoted</p>
 -->		  </a>
		</div>



	</div>
</div>