.flat-show-big-p {
  font-size: 18px;
  color: #000000;
  font-weight: lighter;
  margin-bottom: 0;
  margin-bottom: 10px;

}

.bookings-index-p {
  font-size: 18px;
  color: #000000;
  font-weight: lighter;
  margin-bottom: 0;

}

.my-props-p {
  font-size: 18px;
  color: #000000;
  font-weight: lighter;
  margin-bottom: 0;
}


#wrapper {
    width: 500px;
    margin: 0 auto;
}
