<% if current_user %>
	<img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
<% else %>
	<li style="list-style-type: none;""><%= link_to 'Login', new_user_session_path, class: "btn-login" %></li>
<% end %>