<% if current_user %>
	<img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
<% else %>
	<li style="list-style-type: none;""><a style="color: #000000 !important;"><%= link_to 'Log In', new_user_session_path %></a></li>
<% end %>