.btn-primary {
  color: white;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
}
.btn-primary:hover {
  opacity: 0.9;
  text-decoration: none;
  color: #f2f2f2;
  border: 1px solid #bfbfbf;
}
